body {
    background-color: darkslategray;
}

.contenedorCalculadora {
    width: 500px;
    height: 640px;
    margin: auto;
    background-color: grey;
}

.contenedorCalculadora h1 {
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.contenedorCalculadora p{
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: white;
}

.cajaPantalla {
    width: 470px;
    height: 60px;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    background-color: darkgray;
}

.cajaTeclado {
    width: 470px;
    height: 495px;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
}

button {
    width: 113px;
    height: 95px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    background-color: red;
}
